name: Python CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./API

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Configurer Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Installer les dépendances
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint avec flake8
        run: |
          # arrêter le test s'il y a des erreurs de suntaxe Python ou des noms indéfinis
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero traite toutes les erreurs comme des avertissements
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Lancer les tests
        run: |
          pytest
